/* Start Variables */
:root {
    --main-color: #94e142;
    --main-transition: 0.3s;
}
@media (min-width: 992px) {
    :root {
        --media-breakdown: 1200 * 100vw;
    }
}
@media (min-width: 768px) {
    :root {
        --media-breakdown: 992 * 100vw;
    }
}
@media (min-width: 568px) {
    :root {
        --media-breakdown: 768 * 100vw;
    }
}
@media (min-width: 300px) {
    :root {
        --media-breakdown: 568 * 100vw;
    }
}
@media (max-width: 299px) {
    :root {
        --media-breakdown: 300 * 100vw;
    }
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    padding: 0 calc(15 / var(--media-breakdown));
}
/* End Global Rules */

/* Start Header */
body {
    /* background-color: #000; */
    background: #131626 url("../imgs/hero-bg.png") no-repeat top left;
    background-size: cover;
    position: relative;
}
.header {

}
.header .container {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.menu .menu_logo {
    width: 50px;
}
.menu .menu_logo a {
    display: block;
}
.menu .menu_logo a img {
    max-width: 100%;
}
.menu .toggle-menu {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    z-index: 999;
}
@media (min-width: 991px) {
    .menu .toggle-menu {
        display: none;
    }
}
.menu .menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.menu .menu_list a {
    font-size: 16px;
    padding: calc(3 / var(--media-breakdown));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu .menu_list a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.menu .menu_list a:hover::before {
    width: 100%;
}
@media screen and (max-width: 991px) and (min-height: 100px) {
    .menu {
        gap: 15px;
        width: 100%;
        justify-content: space-between;
    }
    .menu .menu_list {
        gap: 15px;
    }
    .menu .menu_logo .logo img {
        width: 30px;
    }
    .menu .menu_list{
        position: absolute;
        width: 100%;
        top: 0;
        left: -100%;
        background-color: #131625bf;
        flex-wrap: wrap;
        z-index: 3;
        flex-direction: column;
        padding: 45px 15px 0;
        justify-content: flex-start;
        transition: var(--main-transition);
        height: fit-content;
        gap: 5px;
    }
    .menu .menu_list:nth-of-type(2) {
        padding-bottom: 15px;
    }
    .menu .menu_list li {
        width: 100%;
    }
    .menu .menu_list li a {
        justify-content: flex-start;
        border-bottom: 1px dashed var(--main-color);
        padding: 10px;
        font-size: 12px;
    }
}
/* Start Header */
/* Start Landing */
.landing {
    position: relative;
    text-align: center;
}
.landing .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 75px);
    /* padding: calc(100 / var(--media-breakdown)) 0 calc(70 / var(--media-breakdown)); */
    /* padding: calc(100 / var(--media-breakdown)) 0 calc(50 / var(--media-breakdown)); */
    padding: 0 0 65px;
}
.landing img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 100%;
}
.landing .hero_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.landing .hero_header h2 {
    color: #d2d6e5;
    text-transform: uppercase;
    font-size: calc(30 / var(--media-breakdown));
    font-family: "DIN Condensed", sans-serif;
    text-shadow: 0 0 10px #000;
    animation: load__scale linear var(--main-transition) forwards;
}
.landing .hero_header h1 {
    color: var(--main-color);
    font-size: calc(50 / var(--media-breakdown));
    text-transform: uppercase;
    letter-spacing: calc(2 / var(--media-breakdown));
    font-weight: 900;
    font-family: "Futura", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: calc(1.5 / var(--media-breakdown)) var(--main-color);
    text-shadow: 0 0  15px;
    margin-top: 10px;
    transition-delay: var(--main-transition);
    animation: load__fadeup linear 1s forwards,
    load__fill linear 6s infinite;
}
.landing .hero_footer {
    background: url("../imgs/hero-footer-decor.svg") no-repeat center;
    width: 100%;
}
.landing .hero_footer a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(52, 58, 91, 0.6);
    padding: calc(10 / var(--media-breakdown));;
    border-bottom: 2px solid var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Raleway", sans-serif;
    font-size: calc(10 / var(--media-breakdown));
    position: relative;
    z-index: 2;
}
.landing .hero_footer a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    z-index: -1;
}
.landing .hero_footer a:hover::before {
    height: 100%;
}
.landing .hero_footer a::after {
    content: "";
    position: absolute;
    border: solid currentColor;
    border-width: 0 calc(1.5 / var(--media-breakdown)) calc(1.5 / var(--media-breakdown)) 0;
    padding: calc(1.5 / var(--media-breakdown));
    top: calc(50% - calc(2.5 / var(--media-breakdown)));
    transform: translateY(-50%);
    transform: rotate(-45deg);
    right: calc(5 / var(--media-breakdown));
}
@media (max-height: 700px) {
    .landing img {
        max-width: 30%;
    }

}
@media screen and (max-width: 991px) and (min-height: 100px) {
    .landing .hero_header h1 {
        -webkit-text-fill-color: var(--main-color);
        -webkit-text-stroke-width: 0;
    }
}
/* End Landing */
/* Start Animation */
@keyframes load__scale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        letter-spacing: calc(5 / var(--media-breakdown));
    }
}
@keyframes load__fadeup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes load__fill {
    0%, 40%, 100% {
        text-shadow: 0 0  15px #b604f1;
        -webkit-text-stroke-color: #fd0aac;
    }
    75% {
        text-shadow: 0 0  15px #fd0aac;
    }
    90% {
        text-shadow: 0 0  15px #f6ff00;
        -webkit-text-stroke-color: #f6ff00;
    }
    100% {
        text-shadow: 0 0  15px;
        /* -webkit-text-stroke-color: var(--main-color); */
    }
}
/* End Animation */