/* Start Variables */
:root {
    --main-color: #94e142;
    --main-transition: 0.3s;
    --main-padding-top: 60px;
    --main-padding-bottom: 25px;
}
@media (min-width: 992px) {
    :root {
        --media-breakdown: 1200 * 100vw;
    }
}
@media (min-width: 768px) {
    :root {
        --media-breakdown: 992 * 100vw;
    }
}
@media (min-width: 568px) {
    :root {
        --media-breakdown: 768 * 100vw;
    }
}
@media (min-width: 300px) {
    :root {
        --media-breakdown: 568 * 100vw;
    }
}
@media (max-width: 299px) {
    :root {
        --media-breakdown: 300 * 100vw;
    }
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    padding: 0 calc(15 / var(--media-breakdown));
}
.main-title {
    color: #fff;
    font-size: 75px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    letter-spacing: -2px;
    font-weight: 900;
    text-align: center;
    padding-bottom: calc(5 / var(--media-breakdown));
    background: url("../imgs/title-decor.svg") no-repeat center bottom;
    transition: var(--main-transition);
    margin-bottom: 60px;
    transform: translateX(100%);
}
@media (max-width: 991px) {
.main-title {
    font-size: 40px;
}
}
.main-title:nth-of-type(even) {
    transform: translateX(-100%);
}
.main-title.show {
    transform: translateX(0);
}
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #c2c2c2;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
/* End Global Rules */

/* Start Header */
body {
    background: #131626;
    background-size: cover;
    overflow-x: hidden;
}
.header {
    position: fixed;
    width: 100%;
    padding-top: 20px;
    z-index: 999;
}
.header.active {
    background-color: #131626;
    transition: 1s;
    transform: translateY(-30px);
    padding-top: 25px;
}
.header .container {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.menu .menu_logo {
    width: 50px;
}
.menu .menu_logo a {
    display: block;
}
.menu .menu_logo a img {
    max-width: 100%;
}
.menu .toggle-menu {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    z-index: 999;
}
@media (min-width: 991px) {
    .menu .toggle-menu {
        display: none;
    }
}
.menu .menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.menu .menu_list a {
    font-size: 16px;
    padding: calc(3 / var(--media-breakdown));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu .menu_list a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.menu .menu_list a:hover::before {
    width: 100%;
}
@media screen and (max-width: 991px) and (min-height: 100px) {
    .header {
        padding-top: 10px;
    }
    .menu {
        gap: 15px;
        width: 100%;
        justify-content: space-between;
    }
    .menu .menu_list {
        gap: 15px;
    }
    .menu .menu_logo .logo img {
        width: 30px;
    }
    .menu .menu_list{
        position: absolute;
        width: 100%;
        top: 50px;
        left: -100%;
        background-color: #131625ed;
        flex-wrap: wrap;
        z-index: 3;
        flex-direction: column;
        padding: 45px 15px 0;
        justify-content: flex-start;
        transition: var(--main-transition);
        height: fit-content;
        gap: 5px;
    }
    .menu .menu_list:nth-of-type(2) {
        padding-bottom: 15px;
    }
    .menu .menu_list li {
        width: 100%;
    }
    .menu .menu_list li a {
        justify-content: flex-start;
        border-bottom: 1px dashed var(--main-color);
        padding: 10px;
        font-size: 12px;
    }
}
/* Start Header */
/* Start Landing */
.landing {
    position: relative;
    text-align: center;
    padding-top: 75px;
}
.landing::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #131626 url("../imgs/hero-bg.png") no-repeat top left;
    background-size: cover;
    z-index: -999;
}
.landing .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 75px);
    /* padding: calc(100 / var(--media-breakdown)) 0 calc(70 / var(--media-breakdown)); */
    /* padding: calc(100 / var(--media-breakdown)) 0 calc(50 / var(--media-breakdown)); */
    padding: 0 0 65px;
}
.landing img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    max-width: 100%;
}
.landing .hero_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.landing .hero_header h1 {
    width: 100%;
    color: var(--main-color);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 900;
    font-family: "Futura", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 5px var(--main-color);
    text-shadow: 0 0  15px;
    margin-top: 10px;
    transition-delay: var(--main-transition);
    animation: load__fadeup linear 0.5s forwards,
    load__fill linear 6s infinite;
}
.landing .hero_header h2 {
    color: #d2d6e5;
    text-transform: uppercase;
    font-size: 60px;
    font-family: "DIN Condensed", sans-serif;
    text-shadow: 0 0 10px #000;
    animation: load__scale linear var(--main-transition) forwards;
}
.landing .hero_footer {
    background: url("../imgs/hero-footer-decor.svg") no-repeat center;
    width: 100%;
}
.landing .hero_footer a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(52, 58, 91, 0.6);
    padding: 25px;;
    border-bottom: 2px solid var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    position: relative;
    z-index: 2;
}
.landing .hero_footer a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    z-index: -1;
}
.landing .hero_footer a:hover::before {
    height: 100%;
}
@media (max-height: 700px) {
    .landing img {
        max-width: 30%;
    }
}
@media screen and (max-width: 991px) and (min-height: 100px) {
    .landing .hero_header h1 {
        -webkit-text-stroke-width: 0px;
        -webkit-text-fill-color: var(--main-color);
        font-size: 80px;
    }
    .landing .hero_header h2 {
        font-size: 40px;
    }
    .landing .hero_footer a {
        font-size: 18px;
        padding: 12px;
        letter-spacing: .5px;
    }
}
@media screen and (max-width: 767px) and (min-height: 100px) {
    .landing .hero_header h1 {
        font-size: 50px;
        letter-spacing: 0px;
    }
    .landing .hero_header h2 {
        font-size: 20px;
    }
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    overflow-x: hidden;
}
.services .boxes {
    display: flex;
}
.services .boxes .box h2 {
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    padding-bottom: calc(5 / var(--media-breakdown));
    transition: var(--main-transition);
    margin-bottom: calc(20 / var(--media-breakdown));
    position: relative;
    transform: translateX(-100%);
}
.services .boxes .box h2.sec-show {
    transform: translate(0);
}
.services .boxes .box h2::before {
    position: absolute;
    content: url("../imgs/title-decor.svg");
    width: 100%;
    margin-top: 15px;
    left: 0;
    bottom: -10px;
    transition: var(--main-transition);
}
.services .boxes .box h2 span{
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.8px #fff;
}
.services .box p {
    color: #3e4465;
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 15px;
}
.services .box a {
    display: block;
    width: fit-content;
    background-color: rgba(52, 58, 91, 0.6);
    padding: 18px;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--main-color);
    position: relative;
    z-index: 999;
    margin-top: 20px;
}
.services .box  a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    z-index: -1;
}
.services .box  a:hover::before {
    height: 100%;
}
.services .boxes .box:nth-child(2) {
    display: flex;
}
.services .box .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .services .boxes {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .services .box {
        text-align: center;
    }
    .services .boxes .box h2 {
        font-size: 40px;
    }
    .services .boxes .box h2 span {
        -webkit-text-stroke-width: 1px;
    }
    .services .box a {
        margin: 35px auto 0;
        padding: 15px;
    }
}
/* End Services */
/* Start Advantages */
.advantages {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background: url('../imgs/advantages-bg.webp') no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;
}
.advantages::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../imgs/advantages-blocks-bg.png") repeat;
    background-size: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.advantages .container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.advantages .boxes {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 70px 0 70px;
    position: relative;
}
@media (max-width: 1400px) {
    .advantages .boxes {
        flex-wrap: wrap;
    }
    .advantages .container {
        overflow: auto;
    }

    .advantages .boxes .box {
        margin: 0 -30px;
    }
}
@media (max-width:1200px) {
    .advantages .boxes {
        flex-wrap: wrap;
    }
    .advantages .container {
        overflow: auto;
        width: 100%;
    }
    .advantages .boxes {
        column-gap: 300px;
        row-gap: 150px;
        height: 900px;
    }
}
@media (max-width:991px) {
    .advantages .boxes {
        flex-wrap: wrap;
    }
    .advantages .container {
        overflow: auto;
        width: 100%;
        margin-top: 150px;
    }
    .advantages .boxes {
        column-gap: 300px;
        row-gap: 120px;
        height: 900px;
    }
}
.advantages .box {
    min-width: 220px;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    transform: rotate(45deg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px 0 hsla(0, 0%, 0%, 0.75);
    transition: box-shadow 1.5s;
    margin: -15px;
    opacity: 0;
}
.advantages .box:nth-of-type(even) {
    align-self: flex-end;
    min-width: 260px;
    min-height: 260px;
}
.advantages .box::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 150%;
    background-image: linear-gradient(0deg,
    transparent 0%,
    #21f3aa 100%);
    border-radius: 10px;
    animation: rotate 5s linear infinite;
}
.advantages .box:hover {
    box-shadow: 0 0 15px 10px var(--main-color);
}
.advantages .boxes .box.show-box{
    animation: show 1.3s forwards, shining 6s;
}
.advantages .box.show-box .frame::before {
    animation: rotate 3s ease;
}
.advantages .box.show-box:nth-of-type(even) {
    animation-delay: .5s;
}
.advantages .frame {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131626;
    border-radius: 10px;
    padding: 5px;
    overflow: hidden;
    z-index: 999;
    position: relative;
}
.advantages .frame::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 140%;
    background-color: var(--main-color);
    z-index: -2;
    transition: 2s;
}
.advantages .frame::after {
    position: absolute;
    content: "";
    inset: 10px;
    background: #000 url("../imgs/advantages-box-bg.png");
    border-radius: 10px;
    z-index: -1;
}
.advantages .frame:hover::before {
    transform: rotate(180deg);
}
.advantages .box .info {
    z-index: 999;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advantages .box .info h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.advantages .box .info p {
    display: flex;
    justify-content: center;
    font-size: 10px;
    width: 150px;
    color: #4d547b;
}
.advantages .box:nth-of-type(even) .info p {
    font-size: 12px;
}
/* End Advantages */
/* Start Artworks */
.artworks {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    overflow: hidden;
}
.artworks .cards {
    display: flex;
    padding-left: 50px;
    /* overflow-x: scroll; */
}
.artworks .cards .card {
    height: 600px;
    position: relative;
    margin-right: 50px;
    color: #fff;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}
.artworks .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 20px;
    object-fit: cover;
}
@media (min-width: 991px) {
    .artworks .card .info {
        width: 50%;
    }
}
.artworks .info h3 {
    text-transform: uppercase;
    width: 300px;
    font-size: 38px;
    font-weight: 900;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.artworks .info h3::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    background: url("../imgs/card-bottom.svg") no-repeat;
    background-size: 60%;
}
.artworks .info p {
    color: #dddd;
    font-weight: 350;
    line-height: 1.6;
}
.artworks .info p:not(:last-child) {
    margin-bottom: 20px;
}
.artworks .info p span {
    display: block;
}
@media (max-width: 767px) {
    .artworks .info {
        width: 100%;
    }
    .artworks .cards .card {
        height: 400px;
    }
    .artworks .info h3 {
        font-size: 20px;
    }
    .artworks .info h3::before {
        width: 150px;
    }
    .artworks .info p {
        font-size: 12px;
    }
    .artworks .info p:not(:last-child) {
        margin-bottom: 5px;
    }
}
.artworks .swiper-pagination {
    position: relative;
    margin-top: 20px;
    width: 100%;
}
.artworks .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #8f8fb1;
}
/* End Artworks */
/* Start About */
.about {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background: url("../imgs/advantages-bg.webp");
    background-size: cover;
}
.about .about-boxes {
    display: flex;
    position: relative;
}
.about .box-info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.about .box-info .quote {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: #20253b;
    padding: 6px 50px 6px 10px;
    border-radius: 30px;
    align-self: flex-start;
    margin-left: calc(50% / 2);
    position: relative;
    z-index: 1;
    opacity: 0;
}
.about .box-info .quote.show-about {
    animation: load__fadeup 2s forwards;
}
.about .box-info .quote::before {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: #20253b transparent transparent;
    right: 15px;
    bottom: -20px;
    transform: rotate(80deg);
    z-index: -1;
    border-radius: 10px;
}
.about .quote .image img {
    border-radius: 50%;
}
.about .quote  p {
    color: #fff;
    font-size: 15px;
    color: #b7bbcd;
    font-family: "AvenirNextCyr", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 100;
}
.about .about-title {
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: calc(65 / var(--media-breakdown));
    z-index: 1;
    line-height: 1;
    padding: 0 calc(45 / var(--media-breakdown));
    position: relative;
    opacity: 0;
}
.about .about-title.show-about {
    animation: load__fadeup__left 2s forwards;
}
.about .about-title::before,
.about .about-title::after {
    position: absolute;
    content: "\"";
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #686e8a;
}
.about .about-title::before {
    left: 0;
    top: 0;
}
.about .about-title::after {
    right: 0;
    bottom: 0;
}
.about .about-title span {
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #606580;
    margin-left: -100px;
}
.about .text {
    width: 50%;
    color: #606580;
    font-size: 14.5px;
    line-height: 1.7;
    opacity: 0;
}
.about .text.show-about {
    animation: load__fadeup 2s forwards;
}
.about .text p:not(:last-child) {
    margin-bottom: 15px;
}
.about .about-boxes .box-image {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .5;
}
.about .about-boxes .box-image img {
    opacity: 0;
}
.about .about-boxes .box-image img.show-about {
    animation: load__fadeup__right 2s forwards;
}
@media (min-width: 2000px) {
    .about .about-title {
        font-size: 230px;
        padding-right: 140px;
    }
    .about .text {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .about .text {
        width: 80%;
    }
    .about .about-title {
        font-size: 80px;
    }
    .about .about-title::before,
    .about .about-title span, 
    .about .about-title::after {
        -webkit-text-stroke-width: 1px;
        margin-left: 0px;
    }
    .about .about-boxes .box-image {
        display: none;
    }
}
@media (max-width: 767px) {
    .about .quote  p {
        font-size: 14px;
    }
    .about .about-title {
        font-size: 40px;
    }
}
@media (max-width: 359px) {
    .about .quote  p {
        font-size: 10px;
    }
    .about .about-title {
        font-size: 30px;
    }
}
/* End About */
/* Start Portfolio */
.portfolio {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    overflow: hidden;
}
.portfolio .all-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}
.portfolio .boxes {
    /* width: fit-content; */
    display: flex;
    gap: 50px;
}
.portfolio .boxes .box {
    width: 250px;
    height: 450px;
    transform: skew(-6deg);
    position: relative;
    border-radius: 15px;
    cursor: grab;
}
.portfolio .boxes .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.portfolio .boxes .box .portfolio-title {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(transparent 0%, #606580 100%);
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;
    text-align: center;
}
.portfolio .boxes .box .portfolio-title h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    width: fit-content;
    padding-bottom: 10px;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    transform: skew(6deg);
    position: relative;
}
.portfolio .box .portfolio-title h3::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #ff0059;
    border-radius: 50%;
}
.portfolio .buttons {
    position: relative;
    padding: 50px;
    width: 50%;
    height: fit-content;
    margin: 0 auto;
}
.portfolio .swiper-button-next,
.portfolio .swiper-button-prev {
    background-color: #23283f;
    padding: 25px;
    border-radius: 50%;
}
.portfolio .swiper-button-next::after,
.portfolio .swiper-button-prev::after {
    font-size: 23px;
    color: #fff;
}
.portfolio .swiper-pagination {
    position: relative;
    padding-top: 20px;
}
.portfolio .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #8f8fb1;
}
@media (max-width:767px) {
    .portfolio .boxes {
        gap: 10px;
    }
    .portfolio .boxes .box .portfolio-title h3 {
        font-size: 20px;
    }
    .portfolio .buttons {
        width: 100%;
    }
    .portfolio .swiper-button-next::after,
    .portfolio .swiper-button-prev::after {
        font-size: 20px;
    }
    .portfolio .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
    }
}
@media (max-width:500px) {
    .portfolio .boxes .box .portfolio-title h3 {
        font-size: 10px;
    }
}
/* End Portfolio */
/* Start Banner */
.banner {
    opacity: 0;
}
.banner .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4d20be url("../imgs/banner-bg.png") no-repeat center/cover;
    border-radius: 10px;
    position: relative;
}
.banner.banner-fade {
    animation: load__fadeup .7s linear forwards;
}
.banner .boxes::before {
    content: "";
    position: absolute;
    width: 98%;
    height: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: #4d20be;
    border-radius: 10px;
    z-index: -999;
}
.banner .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 30px 20px;
}
.banner .info h2 {
    font-family: "Libre Franklin", sans-serif;
    width: calc(200 / var(--media-breakdown));
    /* width: 1px; */
    /* font-size: 60px; */
    font-size: calc(25 / var(--media-breakdown));
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    background: url("../imgs/footer-h-decor.png") no-repeat left bottom;
    padding-bottom: 20px;
}
.banner .info h2 span {
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
.banner .info p {
    color: #d5caef;
    width: calc(200 / var(--media-breakdown));
    line-height: 1.8;
    font-size: 15px;
    letter-spacing: 1.5px;
}
.banner .image {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    align-self: end;
}
.banner .image img {
    width: 500px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .banner .boxes {
        flex-direction: column;
    }
    .banner .info {
        text-align: center;
    }
    .banner .info h2 {
        font-size: calc(50 / var(--media-breakdown));
        width: calc(400 / var(--media-breakdown));
        margin-left: auto;
        margin-right: auto;
        background-position: bottom center;
    }
    .banner .info p {
        width: calc(500 / var(--media-breakdown));
        font-size: 14px;
    }
}
/* End Banner */
/* Start Contact Us */
.contact-us {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background: url("../imgs/contact-bg.webp") no-repeat center/100% 100%;
    position: relative;
    overflow: hidden;
}
.contact-us::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../imgs/footer-bg-1.png") no-repeat left 13% top, url("../imgs/footer-bg-2.png") no-repeat left -3% bottom 35%, url("../imgs/footer-bg-3.png") no-repeat left 35% bottom 5%;
    z-index: -1;
}
.contact-us .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: #fff;
}
.contact-us .info {
    opacity: 0;
}
.contact-us .info.contact-fade {
    animation: load__fadeup__left 1s forwards;
}
.contact-us .info h2 {
    font-family: "Libre Franklin", sans-serif;
    text-transform: uppercase;
    font-size: calc(25 / var(--media-breakdown));
    font-weight: 800;
    line-height: 1;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: url("../imgs/footer-title-line.png") no-repeat bottom left;
}
.contact-us .info h2 span {
    display: block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
.contact-us .social-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-us .emails li {
    color: #606580;
    margin-bottom: 10px;
    font-size: 15px;
}
.contact-us .emails li a {
    margin-left: 10px;
    transition: var(--main-transition);
}
.contact-us .emails li a:hover {
    color: var(--main-color);
}
.contact-us h3 {
    font-family: "Libre Franklin", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}
.contact-us .social-info .socials {
    display: flex;
    gap: 15px;
    font-size: 20px;
}
.contact-us .socials li {
    transition: var(--main-transition);
    padding: 5px 10px;
}
.contact-us .socials li:hover {
    background-color: #606580;
    border-radius: 50%;
}
.contact-us .box {
    background: #21253e url("../imgs/contact-box-bg.png") no-repeat top left/contain;
    padding: 50px 50px 50px 80px;
    border-radius: 20px;
    flex-basis: 50%;
    opacity: 0;
}
.contact-us .box.contact-fade {
    animation: load__fadeup__right 1s forwards;
    animation-delay: .5s;
}
.contact-us .box h3 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    background: url("../imgs/title-decor.svg") no-repeat bottom left;
}
.contact-us .box .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-us .box .input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.contact-us .input:hover i {
    background-color: var(--main-color);
    color: #fff;
}
.contact-us .box .input .put {
    flex: 1;
    position: relative;
}
.contact-us .input:nth-child(3) {
    position: relative;
}
.contact-us .input .put::before,
.contact-us .input:nth-child(3):before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    transition: var(--main-transition);
}
.contact-us .input .put:hover::before,
.contact-us .input:nth-child(3):hover:before {
    width: 100%;
}
.contact-us .input input,
.contact-us .input textarea {
    background-color: transparent;
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #606580;
    outline: none;
    caret-color: var(--main-color);
    transition: var(--main-transition);
    font-size: 15px;
}
.contact-us .input input::placeholder,
.contact-us .input textarea::placeholder {
    color: #606580;
}
.contact-us .input i {
    color: #7e839b;
    background-color: #606580;
    padding: 15px;
    border-radius: 50%;
    transition: var(--main-transition);
    transition-delay: var(--main-transition);
}
.contact-us .input textarea {
    height: 100px;
    resize: none;
}
.contact-us .box button {
    width: fit-content;
    padding: 20px 35px;
    background-color: #343a5b99;
    border: none;
    border-bottom: 2px solid var(--main-color);
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 45px;
    cursor: pointer;
    z-index: 999;
    position: relative;
}
.contact-us .box button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.contact-us .box button:hover::before {
    height: 100%;
    z-index: -1;
}
.contact-us .box button i {
    margin-left: 5px;
}
@media (max-width: 991px) {
    .contact-us .boxes {
        flex-direction: column;
        align-items: stretch;
    }
    .contact-us .boxes .box {
        padding: 30px;
    }
    .contact-us .boxes .box button {
        padding: 15px;
    }
}
/* End Contact Us */
/* Start Footer */
.footer {
    padding-top: var(--main-padding-top);
    background-color: #1a1e31;
}
.footer .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0 20px;
    font-size: 15px;
}
.footer .menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.footer .menu_list li a{
    transition: var(--main-transition);
}
.footer .menu_list li a:hover {
    color: var(--main-color);
}
@media (max-width: 767px) {
    .footer .footer-nav {
        flex-direction: column;
        gap: 20px;
    }
    .footer .menu_list {
        flex-direction: column;
        gap: 20px;
    }
    .footer .menu_list .logo {
        order: -1;
    }
}
.footer .menu_list li img {
    width: 50px;
}
.footer .copyright {
    text-align: center;
    padding: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
    font-size: 14px
}
/* End Footer */
/* Start Animation */
@keyframes load__scale {
    0% {
        opacity: 0;
        letter-spacing: 15px;
    }
    100% {
        opacity: 1;
        letter-spacing: 5px;
    }
}
@keyframes load__fadeup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes load__fill {
    0%, 40%, 100% {
        text-shadow: 0 0  15px #b604f1;
        -webkit-text-stroke-color: #fd0aac;
    }
    75% {
        text-shadow: 0 0  15px #fd0aac;
    }
    90% {
        text-shadow: 0 0  15px #f6ff00;
        -webkit-text-stroke-color: #f6ff00;
    }
    100% {
        text-shadow: 0 0  15px;
        /* -webkit-text-stroke-color: var(--main-color); */
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes show {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
     transform: translateY(45deg);
     opacity: 1;
    }
}
@keyframes shining {
    0%, 100% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 10px 0 var(--main-color);
    }
}
@keyframes load__fadeup__right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes load__fadeup__left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* End Animation */